<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SDWebImage的仿写的自我学习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2897F0821D4DFADB00E7477F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2897F09B1D4DFADB00E7477F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2897F0A61D4DFADB00E7477F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
